* {
    --normal-font: "Roboto";
    --review-font: "Roboto";
    --primary-color: #174e70;
    --grey-color: rgb(225, 225, 225);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--normal-font);
}

/* Header */
header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3em;
    justify-items: center;
    align-items: center;
    position: relative;

}

.h1-container {
    position: relative;
    grid-column: 1/4;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
}

.h1-container img {
    width: 100%;
    height: 100%;
}

h1 {
    position: absolute;
    top: 25%;
    color: white;
    width: 100%;
    text-align: center;
    background-color: #174e70a9;
    /*This is transparent and doesn't use the grey-color variable*/
    z-index: 1;

}

nav {
    width: 100%;
    height: 100%;
    grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary-color);

}

nav a {
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: 500;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a:hover {
    
    font-weight: 700;
    background-color: white;
    color: var(--primary-color);
}

nav a:nth-child(2) {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#menu::before {
    content: "☰";
}

#menu {
    font-size: 1.5rem;
    background: none;
    border: 0;
    color: white;
    position: absolute;
    text-decoration: none;
    top: 10.3rem;
    right: 1.7rem;
    display: none;
}

/* main */
main{
    margin: 2px 0;
    /* border: 1px solid black; */
    background-color: white;
    padding: 1em;
}

.filter-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid green; */
}

.page-info{
    max-width: 700px;
    font-size: 15px;
    text-align: center;
    margin-right: 2em;
}

.dropContainer{
    margin: 1em 2em;
    text-align: center;
}

.dropContainer p{
    background-color: var(--grey-color);
}

#game-selector{
    /* This is the dropdown element */
    max-width: 300px;
    width: 50%;
    border: none;
    border-radius: .5rem;
    padding: 5px;
    height: 2rem;
    background-color: var(--grey-color);
    color: black;
}

/* Posts */
.review-info {
    /* For the reviews text */
    position: relative;
    z-index: 10;
    /* background: linear-gradient(to bottom, transparent, black, black); */
    padding: 1em;
}

.posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin: 1em;
}

.card {
    /* For the image */
    position: relative;
    border-radius: .8em;
    background-color: var(--primary-color);
    color: white;
    padding: 1em;
    overflow: hidden;

}


.username {
    font-weight: 300;
    color: rgb(242, 169, 59);
}

.game-name {
    font-weight: 800;
}



.title {
    /* empty */
    font-weight: 400;
    margin: 0 0 5px 0;
}

.date {
    text-align: end;
    margin: 0;
    font-weight: 300;
}

.username,
.game-name,
.about {
    display: inline-block;
}


.rating {
    margin: 0;
}

.review {
    font-family: var(--review-font);
    font-size: 14px;
}

.shade {
    /* border: 1px solid black; */
    padding: .1em;
    margin-bottom: 1em;
    width: 100%;
    border-radius: .8rem;
    background-color: rgba(50, 50, 50, .6);
    text-align: center;
}


/*FOOTER*/
footer {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    text-align: center;
}