* {
    --normal-font: "Roboto";
    --review-font: "Roboto";
    --secondary-color: #174e70;
    --grey-color: grey;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--normal-font);
}

/* header css */
header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 3em;
    justify-items: center;
    align-items: center;

}

.title-image{
    grid-column: 1/4;
    grid-row: 2/3;
    z-index: 0;
    width: 100%;
}

.h1-container{
    position: relative;
    grid-column: 1/4;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    /* Background image */
    background-image: url("../images/videogames-wallpaper.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    position: absolute;
    top: 25%;
    color: white;
    width: 100%;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.646); /*This is transparent and doesn't use the grey-color variable*/
    z-index: 1;

}

h2{
    font-size: 60px;
}

nav{
    width: 100%;
    height: 100%;
    grid-column: 1/4;
    grid-row: 3/4;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly ;
    align-items: center;
    background-color: var(--grey-color);
    /* background: linear-gradient(rgba(52, 152, 219, 0.5), rgba(46, 204, 113, 0.5)); */
}

nav a:nth-child(2){
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#menu::before{
    content: "☰";
}

#menu{
    font-size: 1.5rem;
    background: none;
    border: 0;
    color: white;
    position: absolute;
    text-decoration: none;
    top: 21.5rem;
    right: 1.7rem;
    display: none;
}

nav a{
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: 500;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    /* border: 1px solid black; */
    /* padding: 10px; */
    /* border-radius: .8rem; */
}

nav a:hover{

    font-weight: 700;
    background-color: white;
    color: var(--secondary-color);
}

#big-message{
    border-top: 2px solid white ;
    color: white;
    font-weight: 500;
    font-size: 20px;
    /* border: 1px solid black; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    /* background-color: var(--secondary-color); */
    /* background: linear-gradient(to bottom, var(--secondary-color), grey); */
    background: linear-gradient(to bottom, grey, var(--secondary-color));
    min-height: 3em;
    padding: 1em;
}

#big-message a {
    text-decoration: none;
    color: white;
    padding: 5px;
    font-weight: 400;
}

#big-message a:hover{
    /* background-color: white; */
    border-radius: .8rem;
    font-weight: 600;
}

/* Posts css */

.posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin: 1em;
}

.card {
    border-radius: .8em;
    background-color: var(--secondary-color);
    color: white;
    padding: 1em;

}


.username {
    font-weight: 300;
    color: rgb(242, 169, 59);
}

.game-name {
    font-weight: 800;
}



.title {
    /* empty */
    font-weight: 400;
    margin: 0 0 5px 0;
}

.date {
    text-align: end;
    margin: 0;
    font-weight: 300;
}

.username,
.game-name,
.about {
    display: inline-block;
}


.rating {
    margin: 0;
}

.review {
    font-family: var(--review-font);
    font-size: 14px;
}

.shade{
    /* border: 1px solid black; */
    padding: .1em;
    width: 100%;
    border-radius: .8rem;
    background-color: rgba(50, 50, 50, .6);
}

/* Main - critics*/

.critics{
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: 3em 1fr;
    margin-top: 1em;
    width: auto;
    height: auto;
    background-color: grey;
   
    overflow:hidden;

    /* typography */
    color: white;
    /* color: var(--secondary-color); */
    text-align: center;
}

.critics p{
    background: linear-gradient(to bottom, var(--secondary-color), grey);
    margin: 0;
    line-height: 300%;
}

.underline{
    text-decoration: underline;
    font-weight: bold;
}

.journals{
    color: var(--secondary-color);
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    /* background-color: var(--secondary-color); */
    background-color: white;
    border-bottom: 1em solid grey;
    padding: 2em 0;

}

.journal-review strong{
    display: block;
}

.ginsider{
    border-right:  1px solid var(--secondary-color);
    border-left:  1px solid var(--secondary-color);
}

/* Media queries */


/* For medium size screens */
@media screen and (max-width: 65em) {

    .posts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .critics{
        display: flex;
        flex-direction: column;
    }

    .journals{
        display: flex;
        flex-direction: column;
    }

    .journal-review{
        padding: 10px;
    }

    .ginsider{
        border: none;
    }
    

}

/* For smaller screens */
@media screen and (max-width: 46em) {

    

    /* Closed button */

    nav a {
        display: none;
    }

    #menu{
        display: block;
    }

    /* Open button */
    
    #menu.open::before{
        content: "X";
    }


    nav.open{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    nav.open a{
        display: flex;
        width: 80%
    }


    header.open{
        grid-template-rows: repeat(3, 10.6em);
    }

    nav a:nth-child(2){
        border: none;
    }

    /* Posts */
    .posts {
        display: flex;
        flex-direction: column;
    }

    .message a{
        display: block;
        margin: 5px 0;
        text-align: center;
    }

}

/*FOOTER*/
footer {
    background-color: var(--grey-color);
    color: white;
    padding: 10px;
    text-align: center;
}