/* Media queries */


/* For medium size screens */
@media screen and (max-width: 65em) {

    /* Form */
    form{
        width: 100%;
    }
    input[type="text"],
    textarea {
        width: 50%;
        height: 2em;
    }

    textarea{
        height: 10em;
        width: 80%;
    }

    input[type="submit"]{
        /* the button */
        width: 50%;
        height: 3em;
    }

    input[type="radio"]{
        /* the button */
        margin: 1.2em 0;
    }

    /* end form */

    .posts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* For smaller screens */
@media screen and (max-width: 46em) {

    header {
        grid-template-rows: 9.8em 3em;
    }

    /* Form */

    input[type="text"],
    textarea {
        width: 90%;
        height: 2em;
    }

    textarea{
        height: 10em;
        width: 90%;
    }

    input[type="submit"]{
        /* the button */
        width: 80%;
        height: 3em;
    }

    
    /* end form */


    /* Closed button */

    nav a {
        display: none;
    }

    #menu {
        display: block;

    }

    /* Open button */

    #menu.open::before {
        content: "X";
    }


    nav.open {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    nav.open a {
        display: flex;
        width: 80%
    }


    header.open {
        grid-template-rows: repeat(2, 9.8em);
    }

    nav a:nth-child(2) {
        border: none;
    }

    /* Posts */
    .posts {
        display: flex;
        flex-direction: column;
    }


}