* {
    --normal-font: "Roboto";
    --review-font: "Roboto";
    --primary-color: #174e70;
    --grey-color: rgb(149, 149, 149);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--normal-font);
}

/* Header */
header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3em;
    justify-items: center;
    align-items: center;
    position: relative;

}

.h1-container {
    position: relative;
    grid-column: 1/4;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
}

.h1-container img {
    width: 100%;
    height: 100%;
}

h1 {
    position: absolute;
    top: 25%;
    color: white;
    width: 100%;
    text-align: center;
    background-color: #174e70a9;
    /*This is transparent and doesn't use the grey-color variable*/
    z-index: 1;

}

nav {
    width: 100%;
    height: 100%;
    grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary-color);

}

nav a {
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: 500;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a:hover {
    
    font-weight: 700;
    background-color: white;
    color: var(--primary-color);
}

nav a:nth-child(2) {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#menu::before {
    content: "☰";
}

#menu {
    font-size: 1.5rem;
    background: none;
    border: 0;
    color: white;
    position: absolute;
    text-decoration: none;
    top: 10.3rem;
    right: 1.7rem;
    display: none;
}
/* Main */

.times-posted-container{
    display: flex;
    background-color: var(--primary-color);
    color: white;
    margin: 1em auto;
    text-align: center;
    width: 80%;
    height: 3em;
    justify-content: center;
    align-items: center;
    border-radius: .8rem;
    padding: 1rem;

}

.times-posted{
    color: orange;
    font-weight: bold;
}

.highlight{
    color: orange;
}


.text-container{
    background:linear-gradient(to bottom, var(--primary-color), var(--grey-color));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    font-size: 20px;
}

/* Form */
form{
    width: 75%;
    margin: 1em auto;
    /* background-color: var(--grey-color); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
fieldset{
    margin: .8em;
    border: none;
    border-radius: .8rem;
    width: 80%;
    background-color: var(--primary-color);
    color: white;
    padding: 1em;
}

.rating-fieldset{
    position: relative;
    padding-top: 3em;
}

.rating-fieldset label{
    display: block;
}
.rating-fieldset legend{
    position: relative;
    top: 30px;
}

input[type="text"],
textarea{
    width: 40%;
    height: 2em;
    margin-top: .5em;
    border-radius: .5rem ;
    border: none;
    padding: 5px;
    display: block;
}

input[type="radio"]{
    margin-left: .5em;
}

textarea{
    height: 10em;
    width: 100%;
    max-width: 900px;
    max-height: 700px;
}

input[type="submit"]{
    /* the button */
    width: 25%;
    height: 3em;
    margin-bottom: 1em;
}


/*FOOTER*/
footer {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    text-align: center;
}