:root {
    --heading-font: Montserrat;
    --paragraph-font: Montserrat;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/

header {
    /* Direct child of .body-first-wrap which is grid */
    font-family: var(--paragraph-font);
    /* Crea 5 rows y pon 2 para el nav y 3 para el header */
}

h1 {
    /* Direct son from Header which is grid */
    background-color: #174e70;
    text-align: center;
    padding: 1rem;
    color: white;
    font-size: larger;
}


h1 span,
.lastModified {
    color: yellow;
}

nav {
    background-color: #2b2b2b;
    display: flex;
}

nav a,
nav a:visited {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    display: block;
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem;
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #fff;
    background-color: rgb(66, 66, 66);
    font-weight: 600;
}

header a,
header a:visited {
    text-decoration: none;
    color: white;
}

/*MAIN*/

main {
    display: grid;
    padding: 0;
    /* ---------- */
    grid-template-columns: 2fr 1fr;
    margin: 10px auto;
    max-width: 960px;
}

.h2-wrap {
    display: flex;
    background-color: #174e70;
    text-align: center;
    border-radius: .5em .5em 0 0;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8em;

}

.card {
    /* This is for styling .main-content and .aside-content together*/
    border-radius: .5em;
    border: 1px solid rgb(183, 183, 183);
    margin: 5px;
}

.main-content {
    /* main-wrap child which is grid*/

    justify-self: end;
    grid-template-rows: 1fr 1fr;

    /* Only if text overflows the box... */
    font-family: var(--paragraph-font);
}


.country-description {
    margin: 15px;
    gap: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    /* The flex row is to place the text side by side with the image */
}

.my-description img,
.country-description img {
    max-width: 180px;
    /* Ajusta el tamaño máximo de la imagen */
    margin: 15px;
    /* Espacio entre la imagen y el texto */
}

.my-description img {
    float: right;
}

.my-description p,
.country-description p {
    align-self: center;
    flex: 1;
    font-size: 15px;
}

.my-description p {
    margin: 1rem;
}

figcaption {
    font-size: medium;
    text-align: center;
}

figure {
    align-self: center;
    /* If the page wraps, this will keep the image at the center */
}

h3 {
    text-align: center;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    width: 80%;
    margin: 0 auto;
}

.aside-content {
    /* main-wrap's child which is grid*/
    display: grid;
    grid-template-rows: 2em 1fr;
    gap: 10px;
    font-family: var(--paragraph-font);
    justify-self: start;
}

.aside-content ul {
    display: flex;
    flex-direction: column;
    align-self: center;
    color: black;
    padding: 0 20px 0 35px;
}


/*FOOTER*/

footer {
    /* Direct child of .body-first-wrap which is grid */
    display: flex;
    background-color: #174e70;
    color: white;
    padding: 10px;
    font-family: var(--paragraph-font);

    text-align: center;
    justify-content: center;
    align-items: center;
}