
:root {
    --heading-font: Montserrat;
    --paragraph-font: Montserrat;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-first-wrap {
    /* The main parent */
    font-size: 1.2em;
    display: grid;
    grid-template-rows: repeat(13, 3em);
}

/*HEADER*/

header {
    /* Direct child of .body-first-wrap which is grid */
    display: grid;
    grid-row: 1/3;
    grid-template-rows: repeat(5, 1fr);
    font-family: var(--paragraph-font);
    background-color: rgb(51, 51, 51);
    /* Crea 5 rows y pon 2 para el nav y 3 para el header */
}

.h1-wrap {
    /* Direct son from Header which is grid */
    display: flex;
    grid-row: 1/4;
    background-color: #174e70;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    /* .h1-wrap son. Not grid. */
    color: white;
    font-size: x-large;
}

h1 span,
.lastModified {
    color: yellow;
}

header nav {
    /* Direct son from Header which is grid */
    grid-row: 4/6;
    display: flex;
    justify-content: space-around;
    font-family: var(--paragraph-font);

}

.link-wrap {
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*The last 3 lines, including flex, are for centering the text*/
}

nav div:hover {
    background-color: #313131;
}

header a,
header a:visited {
    text-decoration: none;
    color: white;
}

/*MAIN*/
main {
    /* Direct child of .body-first-wrap which is grid */
    grid-row: 3/12;
    max-width: 1498.89px;
}

.main-wrap {
    display: grid;
    height: 100%;
    width: 100%;
    padding: 0;
    /* ---------- */
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.h2-wrap {
    display: flex;
    background-color: #174e70;
    text-align: center;
    border-radius: 1em 1em 0 0;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: medium;
}

.card {
    /* This is for styling .main-content and .aside-content together*/
    border-radius: 1em;
    border: 1px solid black;
    width: 70%;
    height: 90%;
}

.main-content {
    /* main-wrap child which is grid*/
    display: grid;
    justify-self: end;
    grid-template-rows: 1fr 2fr 1fr 2fr;
    overflow: auto;
    /* Only if text overflows the box... */
    grid-column: 1/4;
    font-family: var(--paragraph-font);
}

.my-description,
.country-description {
    margin: 15px;
    gap: 15px;
    display: flex;
    flex-direction: row;
    font-size: large;
    /* The flex row is to place the text side by side with the image */
}

.my-description p,
.country-description p {
    align-self: center;
    font-size: 16.5px;
}

figcaption {
    font-size: medium;
    text-align: center;
}

figure {
    align-self: center;
    /* If the page wraps, this will keep the image at the center */
}

.country-title-wrap {
    text-align: center;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    width: 50%;
    align-self: center;
    justify-self: center;
}

.aside-content {
    /* main-wrap's child which is grid*/
    display: grid;
    grid-template-rows: 2em 1fr;
    gap: 10px;
    grid-column: 4/6;
    font-family: var(--paragraph-font);
    justify-self: start;
}

.aside-content ul {
    display: flex;
    flex-direction: column;
    align-self: center;
    color: black;
    padding-left: 35px;
}


/*FOOTER*/

footer {
    /* Direct child of .body-first-wrap which is grid */
    display: flex;
    background-color: #174e70;
    color: white;
    padding: 10px;
    font-family: var(--paragraph-font);
    grid-row: 12/14;
    text-align: center;
    justify-content: center;
    align-items: center;
}